<div class="tituloPagina">
  {{ Titulo }} <small>{{ TituloAccionABMC[AccionABMC] }}</small>
</div>

<form name="FormBusqueda" [formGroup]="FormBusqueda">
  <div class="container-fluid">
    <hr />

    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary" (click)="Buscar()">
        <i class="fas fa-search"> </i> Buscar
      </button>
    </div>
  </div>
</form>

<!-- Tabla de resultados -->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L'">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Contacto</th>
        <th class="text-center">Tipo de llamada</th>
        <th class="text-center">Fecha de llamada</th>
        <th class="text-center">Activa</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let llamada of Llamadas">
        <td>{{ llamada.Contacto }}</td>
        <td class="text-right">{{ llamada.TipoLLamada }}</td>
        <td class="text-right">{{ llamada.FechaLLamada }}</td>
        <td>{{ llamada.Activa ? 'SI' : 'NO' }}</td>
        <td class="text-center text-nowrap">
          <button
            class="btn btn-sm btn-outline-primary"
            title="Modificar"
            (click)="Modificar(llamada)"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Registro en Alta,Modificacion y Consulta -->
<form name="FormRegistro" [formGroup]="FormRegistro" *ngIf="AccionABMC != 'L'">
  <div class="container-fluid">
    <fieldset [disabled]="AccionABMC === 'C'">
      <!--campo Contacto-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Contacto"
            >Contacto<span class="text-danger">*</span>:</label
          >
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="Contacto"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.Contacto.touched || submitted) &&
                FormRegistro.controls.Contacto.errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Contacto.touched || submitted) &&
              FormRegistro.controls.Contacto.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Contacto.touched || submitted) &&
              (FormRegistro.controls.Contacto.errors?.minlength ||
                FormRegistro.controls.Contacto.errors?.maxlength)
            "
          >
            Dato texto, hasta 50 caracteres.
          </div>
        </div>
      </div>
      <!--campo Tipo-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="TipoLlamada"
            >TipoLlamada<span class="text-danger">*</span>:</label
          >
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            name="TipoLlamada"
            class="form-control"
            formControlName="TipoLlamada"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.TipoLlamada.touched || submitted) &&
                FormRegistro.controls.TipoLlamada.errors
            }"
          />
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.TipoLlamada.touched || submitted) &&
              FormRegistro.controls.TipoLlamada.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.TipoLlamada.touched || submitted) &&
              FormRegistro.controls.TipoLlamada.errors?.pattern
            "
          >
            Dato texto, hasta 50 caracteres.
          </div>
        </div>
      </div>

      <!--campo fechallamada-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label"
            >Fecha de llamada<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            class="form-control"
            formControlName="FechaLlamada"
            name="FechaLlamada"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.FechaLlamada.touched || submitted) &&
                FormRegistro.controls.FechaLlamada.errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.FechaLlamada.touched || submitted) &&
              FormRegistro.controls.FechaLlamada.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.FechaLlamada.touched || submitted) &&
              FormRegistro.controls.FechaLlamada.errors?.pattern
            "
          >
            Dato fecha, formato dd/mm/aaaa.
          </div>
        </div>
      </div>

      <!--campo Activa-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Activa">Activa:</label>
        </div>
        <div class="col-sm-8 col-md-6">
          <select class="form-control" name="Activa" formControlName="Activa">
            <option *ngFor="let opt of OpcionesActiva" [ngValue]="opt.Id">
              ‌{{ opt.Nombre }}
            </option>
          </select>
        </div>
      </div>
    </fieldset>
    <!-- Botones Grabar, Cancelar/Volver' -->
    <hr />
    <div class="row justify-content-center botones">
      <button
        type="button"
        *ngIf="AccionABMC !== 'C'"
        class="btn btn-primary"
        (click)="Grabar()"
      >
        <i class="fas fa-check"></i> Grabar
      </button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="Volver()">
        <i class="fas fa-undo"></i>
        {{ AccionABMC == 'C' ? 'Volver' : 'Cancelar' }}
      </button>
    </div>
  </div>
</form>
